* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    padding-left: 20px;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

.slider {
    position: relative;
    background-color: orangered;
    height: 70vh;
    overflow: hidden;
}

.slider__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.slider__item {
    display: flex;
    min-width: 100%;
}

.slider__img {
    display: block;
    min-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

button {
    position: relative;
    z-index: 1;
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

.slider__button:hover {
    background-color: orangered;
}

.slider__button:active {
    background: #000;
    color: #fff;
}


/* Slider 2: */

.slider2 {
    max-width: 90%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally: */
    margin: auto;
    height: 300px;
    background-color: orangered;
    /*overflow: hidden;*/
    margin-bottom: 40px;
}


/* The picture is scaled in relation to the parent element: */

.slider2__img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 100%;
    height: 300px;
}


/* Back and forward buttons: */

.slider2__button {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    width: auto;
    padding: 24px;
    /* Styling the buttons themselves: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: orangered;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Deliting the borders: */
    border: none;
}

.button__prev {
    position: absolute;
    top: 70%;
    left: 70px;
}

.button__next {
    position: absolute;
    top: 70%;
    left: 135px;
}


/* When you hover over the buttons, add the border of the buttons to increase their size: */

.slider2__button:hover,
.slider2__button:focus {
    border: solid 2px orangered;
}

.slider2__button:focus {
    outline: none;
    transition: 0.6s ease;
}


/* Slide animation */

.slider2__item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    /* Set and change the transparency: */
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}